.button{
	transition-duration: 0.4s;
	-fx-text-fill: white;
	-fx-border: 1px;
	-fx-border-color: #F2F2F2;
	-fx-background-color: #4F4F4F;
	-fx-border-radius: 2px;
}
.button:hover {
  -fx-background-color: #4CAF50; /* Green */
  -fx-color: white;
}
.label{
	-fx-text-fill: white;
}
.menu-bar { -fx-background-color: #4F4F4F; -fx-border: 1px; -fx-background-color: #4F4F4F; }

.root { /* background */
	-fx-background-color: black;
	}
